<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>FORM PAGE</title>


        <p>Form Page</p>
    
    </head>


            <form method="POST" action=".">

                <div class="form-group">

                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter YOur Name..." />

                <label for="allegries">Allegries:</label>
                <input type="text" name="allegries" id="allegries" placeholder="Enter Your Allegries..." />

                <label for="email">Email:</label>
                <input type="text" name="email" id="email" placeholder="Enter Your Email..." />
                
                <label for="message">Message:</label><br />
                <textarea name="message" rows="20" cols="20" id="message"></textarea>

                <input type="submit" name="submit" value="Send" class="submit-button" />

                </div>
            
            </form>

</html>